body{
  background-color: aliceblue;
}
div {
  margin: 10px;
}
.button button{
  background-color: yellow;
  border-radius: 25px;
  padding: 10px;
}

.first {
  width: 40%;
  display: inline-block;
  /* background-color: green; */
}

.second {
  width: 40%;
  display: inline-block;
  /* background-color: blue; */
}

@media screen and (max-width: 850px) {

  .first,
  .second{
      width: 80%;
  }
}

@media screen and (max-width: 435px) {

  .second img{
      width: 200px;height: 125px;
  }
}

@media screen and (max-width: 435px) {

  .image-last{
      width: 200px;height: 125px;
  }
}