*{
    margin: 0;
    padding: 0%;
    background-color:gray;
}
.main img{
    height:600px;
    padding-top: 5%;

}
.main h1{ 
    font-size: 50px;
    color:#FFB67A;
    padding-top: 20%;

}
.main h4{
    
    color: aqua;
    padding-top:76%;
    font-size: 150%;
    font-weight: inherit;
}

.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;}

@media(max-width: 720px) {
    .main{
        width: 250px;
    }
  }